<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
@{
    ViewBag.Title = "Home";
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
}
</head>
<body>
    <div class="contenido">
        <ul class="backgroundslider">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <a data-animation="ripple" href="@Url.Action("Home","Movies")">Movies</a>
    <a data-animation="ripple1" href="@Url.Action("Home","Music")">Music</a>
    <a data-animation="ripple2" href="@Url.Action("Home","VideoGame")">Video Games</a>
</body>
</html>

